<html lang="en" dir="ltr"><head>
	<meta charset="utf-8">
	<title>Video Streaming Demonstration</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<h1>Video Streaming Demonstration</h1>
	<img class="center" src="/video_feed">
	
  <button onclick="playVid()" style="height:20px;width:90px" class="center" type="button">PlayVideo</button>
  <button onclick="pauseVid()" style="height:20px;width:90px" class="center" type="button">PauseVideo</button>
  <script>
    var vid = document.getElementById("video_feed"); 

    function playVid() { 
        vid.play(); 
    } 

    function pauseVid() { 
        vid.pause();
    }
  </script>
</body>
</html>
